body
{
    background-image: url(static/slike/pozadina.jpg);
}
img{
    cursor: pointer;
}
#content
{
    margin: 0 auto;

}
.grid-item
{
    width:350px;
    height:500px;
    display:inline-block;
    margin:30px;
    margin-left: 55px;

}
.grid-item1{

    width:345px;
    height:400px;


}
.cover
{	height: 100%;
    width: 100%;
    object-fit: contain;
    position: relative;
}

ul{
    text-align: center;
    list-style: none;
    background: black;
    opacity: .8;
    color: white;
}
#onClick
{
    width:200px;
    height:230px;
    position: absolute;
    margin-top: -350px;
    margin-left: 70px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    display: none;
    cursor: pointer;
}
#onClick1
{
    width:200px;
    height:250px;
    position: absolute;
    margin-top: -350px;
    margin-left: 70px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    display: none;
    cursor: pointer;
}

#onClick2
{
    width:200px;
    height:190px;
    position: absolute;
    margin-top: -350px;
    margin-left: 70px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    display: none;
    cursor: pointer;

}

#onClick3
{
    width:200px;
    height:250px;
    position: absolute;
    margin-top: -350px;
    margin-left: 70px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    display: none;
    cursor: pointer;

}

#onClick4
{
    width:200px;
    height:310px;
    position: absolute;
    margin-top: -350px;
    margin-left: 70px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    display: none;
    cursor: pointer;

}


#onClick5
{
    width:200px;
    height:330px;
    position: absolute;
    margin-top: -350px;
    margin-left: 70px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    display: none;
    cursor: pointer;

}

#onClick6
{
    width:200px;
    height:310px;
    position: absolute;
    margin-top: -390px;
    margin-left: 70px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    display: none;
    cursor: pointer;

}

#onClick7
{
    width:200px;
    height:330px;
    position: absolute;
    margin-top: -350px;
    margin-left: 70px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    display: none;
    cursor: pointer;

}

#onClick8
{
    width:200px;
    height:300px;
    position: absolute;
    margin-top: -350px;
    margin-left: 70px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    display: none;
    cursor: pointer;

}