#header
{
    height: 180px;
    background-color: greenyellow;

}

#Naslov
{	background: rgba(0, 0, 0, 0.5);
    color: white;
    float: left;
    font-family: cursive;
    padding-left: 0px;
    text-align: center;
    margin-top:40px;
    margin-left: 30px;

}

#Forma
{	margin-right: 10px;
    float:right;
    margin-top: 15px;
}

input
{
    position: relative;
    display:inline-block;
    font-size: 20px;
    box-sizing:border-box;
    transition:.5s;
}

input[type="text"]
{
    padding: 0 25px;
    border-radius: 25px 0 0 25px;
    height:40px;
    border: none;
    outline :none;


}

input[type="submit"]
{
    color: white;
    border-radius: 0 25px 25px 0;
    width:120px;
    height:40px;
    cursor:pointer;
    border:none;
    outline: none;
    background: blue;
    opacity: .8
}

input[type="submit"]:hover
{
    background: purple;
}

.Meni
{	margin-left: 45px;
    margin-top:15px;
    float: left;
    color:white;
}

.Meni ul{

    margin:0px;
    padding:0px;
    list-style: none;

}

.Meni li
{
    float:left;
    width:200px;
    height:40px;
    background-color: black;
    opacity: .9;
    line-height: 40px;
    text-align:center;
    font-size:20px;
    margin-right: 2px;

}

.Meni a
{
    text-decoration:none;
    color:white;
    display: block;
}

.Meni a:hover
{
    background-color: blue;
}

.Meni ul li ul li
{
    display: none;
}

.Meni ul li:hover ul li
{
    display: block;
}