body {
  background-color: #00796B;
  font-family: 'Noto Sans', sans-serif;
}

form {
  background-color: #E0F2F1;
  width: 325px;
  height: 275px;
  margin: 30px auto 0;
  overflow: auto;

  box-shadow: 0px 0px 8px 1px rgba(0,0,0,.75);
}

label {
  position: relitive;
  display: inline-block;
  color: #004D40;
  top: 100px;
  font-size: 1.25em;
  transition: all .2s ease;
  z-index: 10;
  position: relative;
  top: -30px;
}

.input-container {
  width: 75%;
  position: relative;
  margin: 45px auto -25px;
}

input[type="text"] {
  width: 100%;
  position: relative;
  display: inline-block;
  font-size: 1.25em;
  padding: 0 0 5px 0;
  color: #004D40;
  background-color: transparent;
  border: none;
  border-bottom: solid 2px #4DB6AC;
  outline: none;
  z-index: 20;
}

input[type="text"]:focus ~ label, input[type="text"]:valid ~ label {
  top: -60px;
}

input[type="submit"] {
  cursor: pointer;
  margin: auto;
  width: 100%;
  background-color: #4DB6AC;
  color: #E0F2F1;
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.25em;
  padding: 10px 0;
  border: solid #009688;
  border-width: 0 0 4px 0;
  border-radius: 3px;
  outline: none;
}

input[type="submit"]:hover {
  background: #26A69A;
  border: solid #00897B;
  border-width: 0 0 4px 0;
}

input[type="submit"]:active {
  background: #009688;
  border: solid transparent;
  border-width: 0 0 0px 0;
}

